@tailwind base;
@tailwind components;
@tailwind utilities;

.net-pattern {
  background-image: radial-gradient(
    circle at center,
    #636363 0.5px,
    transparent 0.75px
  );
  background-size: 8px 8px;
}

.net-pattern-dark {
  background-image: radial-gradient(
    circle at center,
    #3d0050 0.5px,
    transparent 1px
  );
  background-size: 8px 8px;
}

.net-pattern-canvas {
  background-image: radial-gradient(
    circle at center,
    #3b3b3b 0.45px,
    transparent 1px
  );
  background-size: 28px 28px;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}

.animate-carousel {
  animation: carousel 25s linear infinite;
}

/* Hide scrollbar for the carousel */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}

.overflow-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hover pause effect */
.animate-carousel:hover {
  animation-play-state: paused;
}

/* width */
::-webkit-scrollbar {
  display: none;
}
